[submodule "airelectric-laravel"]
	path = airelectric-laravel
	url = https://github.com/RezaAchmadN/Airelectric-LaravelProject.git
[submodule "airelectric-flutter"]
	path = airelectric-flutter
	url = https://github.com/RezaAchmadN/Airelectric-FlutterProject.git
